@model IEnumerable<fish_gallery.Models.Gallery>

@{
    ViewBag.Title = "View";
}

<h2>View</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        
        
        <th></th>
    </tr>
@if (Model != null)
{ 
    foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            
            <td>
                @if (Session["username"] != null && Session["username"].ToString() == item.Name)
                {
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) <span>|</span>
                }
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id }) |
              
            </td>
        </tr>
    }
}
</table>
